{% extends "base.html" %}

{% block content %}
    {% if list %}
        <ul>
            {% for pensioner in list %}
                <li>
                    {{ pensioner.forename }} {{ pensioner.surname }}
                    <a href="/pensioners/{{ pensioner.reference }}/">Simple</a>
                    <a href="/pensioners/{{ pensioner.reference }}/detail">ModelForm</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pensioner are available.</p>
    {% endif %}
{% endblock content %}